<div class="container">
  <div class="row">
    <div class="col-sm">
      <label for="levelInput" class="form-label">Level</label>
      <input
        class="form-control"
        id="levelInput"
        [formControl]="levelControl"
        aria-describedby="levelHelp"
        style="width: 20%"
      />
      <div id="levelHelp" class="form-text">
        ({{ minLevel }}-{{ maxLevel }})
      </div>
    </div>
    <div class="col-sm">
      <div class="mb-3">
        <label for="XP" class="form-label">XP</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="exp"
            [formControl]="expControl"
            aria-describedby="basic-addon3 basic-addon4"
          />
          <span class="input-group-text" id="basic-addon3"
            >/ {{ xpToNextLevel() }}</span
          >
        </div>
        <div class="form-text" id="basic-addon4">
          Example help text goes outside the input group.
        </div>
      </div>
      <!-- <p>{{ getInterestingFactOne(account.level) }}</p> -->
      <!-- <p>{{ getInterestingFactTwo(account.level) }}</p> -->
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
  </div>
</div>
