<div class="container">
  <form
    class="needs-validation"
    novalidate
    [formGroup]="accountForm"
    (ngSubmit)="save()"
  >
    <div class="row">
      <div class="col-sm-2">
        <label for="levelInput" class="form-label">Level</label>
        <input
          class="form-control"
          id="levelInput"
          formControlName="level"
          [ngClass]="{
            'is-invalid': !accountForm.controls.level.valid,
            'is-valid': accountForm.controls.level.valid
          }"
        />
        <div class="invalid-feedback">({{ minLevel }}-{{ maxLevel }})</div>
      </div>
      <div class="col-sm-4">
        <label for="XP" class="form-label">XP</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="xp"
            formControlName="xp"
            aria-describedby="basic-addon3 basic-addon4"
            [ngClass]="{
              'is-invalid': !accountForm.controls.xp.valid,
              'is-valid': accountForm.controls.xp.valid
            }"
          />
          <span class="input-group-text" id="basic-addon3"
            >/ {{ readableXpToNextLevel() }}</span
          >
          <div class="invalid-feedback">(0-{{ readableXpToNextLevel() }})</div>
        </div>
      </div>
      <div class="col-sm-2">
        <label for="furniture" class="form-label">Furniture</label>
        <input
          class="form-control"
          id="furnitureInput"
          formControlName="furnitureSlots"
          [ngClass]="{
            'is-invalid': !accountForm.controls.furnitureSlots.valid,
            'is-valid': accountForm.controls.furnitureSlots.valid
          }"
        />
        <div class="invalid-feedback">
          ({{ minFurnitureSlots }}-{{ maxFurnitureSlots }})
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
    <div></div>
    <div class="row mt-5">
      <button
        type="submit"
        class="btn btn-primary"
        [ngClass]="{
          'disabled': accountForm.pristine || !accountForm.valid
        }"
      >
        Save
      </button>
    </div>
  </form>
  <p>{{ getInterestingFactOne() }}</p>
  <p>{{ getInterestingFactTwo() }}</p>
</div>
