<div class="container">
  <form class="needs-validation" novalidate>
    <div class="row">
      <div class="col-sm-1">
        <label for="levelInput" class="form-label">Level</label>
        <input
          class="form-control"
          id="levelInput"
          [formControl]="levelControl"
          [ngClass]="{
            'is-invalid': !levelControl.valid,
            'is-valid': levelControl.valid
          }"
        />
        <div class="invalid-feedback">({{ minLevel }}-{{ maxLevel }})</div>
      </div>
      <div class="col-sm-3">
        <label for="XP" class="form-label">XP</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="exp"
            [formControl]="expControl"
            aria-describedby="basic-addon3 basic-addon4"
            [ngClass]="{
              'is-invalid': !expControl.valid,
              'is-valid': expControl.valid
            }"
          />
          <span class="input-group-text" id="basic-addon3"
            >/ {{ readableXpToNextLevel() }}</span
          >
        </div>
        <!-- <p>{{ getInterestingFactOne(account.level) }}</p> -->
        <!-- <p>{{ getInterestingFactTwo(account.level) }}</p> -->
      </div>
      <div class="col-sm-1">
        <label for="furniture" class="form-label">Furniture</label>
        <input
          class="form-control"
          id="furnitureInput"
          [formControl]="furnitureControl"
          [ngClass]="{
            'is-invalid': !furnitureControl.valid,
            'is-valid': furnitureControl.valid
          }"
        />
      </div>
      <div class="col-sm"></div>
    </div>
  </form>
</div>
