<div class="container">
  <h1>Blueprint List</h1>
  <table class="table table-hover table-bordered embedded-table">
    <caption>
      List of blueprint ids and links to pages which load additional detail for
      the linked blueprint.
    </caption>
    <thead class="table-dark fixed-header">
      <tr>
        <th scope="col">blueprintId</th>
        <th scope="col">blueprint</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <th scope="row">{{ item.id }}</th>
        <td>
          <a href="#" routerLink="/blueprint/{{ item.id }}">{{ item.name }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
